@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.65rem;
    --background: #FFFFFF;
    --foreground: hsla(0, 0%, 7%, 1);
    --card: hsla(0, 0%, 100%, 1);
    --card-foreground: hsla(286, 3%, 14%, 1);
    --popover: hsla(0, 0%, 100%, 1);
    --popover-foreground: hsla(286, 3%, 14%, 1);
    --primary: hsla(262, 47%, 44%, 1);
    --primary-foreground: hsla(294, 2%, 97%, 1);
    --secondary: hsla(286, 0%, 97%, 1);
    --secondary-foreground: hsla(286, 3%, 21%, 1);
    --muted: hsla(286, 0%, 97%, 1);
    --muted-foreground: hsla(0, 0%, 27%, 1);
    --accent: hsla(286, 0%, 97%, 1);
    --accent-foreground: hsla(286, 3%, 21%, 1);
    --destructive: hsla(27, 30%, 58%, 1);
    --border: hsla(286, 0%, 92%, 1);
    --input: hsla(218, 12%, 87%, 1);
    --ring: hsla(235, 12%, 21%, 1);
    --chart-1: hsla(41, 26%, 65%, 1);
    --chart-2: hsla(185, 16%, 60%, 1);
    --chart-3: hsla(227, 15%, 40%, 1);
    --chart-4: hsla(84, 19%, 83%, 1);
    --chart-5: hsla(70, 20%, 77%, 1);
    --sidebar: #FDFEFE;
    --sidebar-foreground: hsla(0, 0%, 7%, 1);
    --sidebar-primary: hsla(293, 29%, 61%, 1);
    --sidebar-primary-foreground: #4F566B;
    --sidebar-accent: hsla(210, 14%, 97%, 1);
    --sidebar-accent-foreground: hsla(286, 3%, 21%, 1);
    --sidebar-border: hsla(286, 0%, 92%, 1);
    --sidebar-ring: hsla(293, 29%, 61%, 1);
  }
  
  .dark {
    --background: hsla(286, 3%, 14%, 1);
    --foreground: hsla(0, 0%, 99%, 1);
    --card: hsla(286, 3%, 21%, 1);
    --card-foreground: hsla(0, 0%, 99%, 1);
    --popover: hsla(286, 3%, 21%, 1);
    --popover-foreground: hsla(0, 0%, 99%, 1);
    --primary: hsla(293, 34%, 54%, 1);
    --primary-foreground: hsla(294, 2%, 97%, 1);
    --secondary: hsla(286, 2%, 27%, 1);
    --secondary-foreground: hsla(0, 0%, 99%, 1);
    --muted: hsla(286, 2%, 27%, 1);
    --muted-foreground: hsla(286, 2%, 71%, 1);
    --accent: hsla(286, 2%, 27%, 1);
    --accent-foreground: hsla(0, 0%, 99%, 1);
    --destructive: hsla(22, 21%, 70%, 1);
    --border: hsla(0, 0%, 100%, 0.1);
    --input: hsla(0, 0%, 100%, 0.15);
    --ring: hsla(293, 34%, 54%, 1);
    --chart-1: hsla(264, 33%, 49%, 1);
    --chart-2: hsla(162, 20%, 70%, 1);
    --chart-3: hsla(70, 20%, 77%, 1);
    --chart-4: hsla(304, 30%, 63%, 1);
    --chart-5: hsla(16, 28%, 65%, 1);
    --sidebar: hsla(286, 3%, 21%, 1);
    --sidebar-foreground: hsla(0, 0%, 99%, 1);
    --sidebar-primary: hsla(243, 94%, 67%, 1);
    --sidebar-primary-foreground: hsla(294, 2%, 97%, 1);
    --sidebar-accent: hsla(286, 2%, 27%, 1);
    --sidebar-accent-foreground: hsla(0, 0%, 99%, 1);
    --sidebar-border: hsla(0, 0%, 100%, 0.1);
    --sidebar-ring: hsla(293, 34%, 54%, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
}
@layer base {
  * {
    @apply border-border outline-ring/50;

    body {
        @apply bg-background text-foreground;
      }
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/inter/Inter-VariableFont_opsz\,wght.ttf") format("trueType");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("trueType");
  font-display: swap;
  font-style: italic;
}
}